@tailwind base;
@tailwind components;
@tailwind utilities;

nav::-webkit-scrollbar {
  display: none !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-30%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

.group:hover + .group .absolute {
  display: flex;
}
